@charset "UTF-8";
/* Reset and base styles  */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap");
* {
  padding: 0px;
  margin: 0px;
  border: none;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

:focus,
:active {
  /*outline: none;*/
}

a:focus,
a:active {
  /* outline: none;*/
}

/* Links */
a,
a:link,
a:visited {
  /* color: inherit; */
  text-decoration: none;
  /* display: inline-block; */
}

a:hover {
  /* color: inherit; */
  text-decoration: none;
}

/* Common */
aside,
nav,
footer,
header,
section,
main {
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-size: inherit;
  font-weight: inherit;
}

ul,
ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

img,
svg {
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

/* Form */
input,
textarea,
button,
select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}

input::-ms-clear {
  display: none;
}

button,
input[type="submit"] {
  display: inline-block;
  -webkit-box-shadow: none;
          box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
}

input:focus,
input:active,
button:focus,
button:active {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}

/* General */
:root {
  --dark1: #404040;
  --dark2: #343434;
  --dark3: #454545;
  --orange1: #C6A379;
  --orange2: #EAA655;
  --orange3: #E98916;
  --orange4: #FFD098;
  --white: #fff;
  --gray: #989696;
  --gray2: #50504F;
  --gray3: #DADADA;
  --quiz-header-bg: var(--dark1);
  --quiz-main-bg: var(--dark2);
  --header-title-color: var(--orange1);
  --number-first-color: var(--orange1);
  --link-color: var(--orange1);
  --number-second-color: var(--gray);
  --white-color: var(--white);
  --item-content-bg: var(--orange4);
  --button-color: var(--orange2);
  --button-color-hover: var(--orange3);
  --background-gray: var(--gray2);
  --background-dark: var(--dark3);
  --background-border: var(--gray);
  --field-color: var(--gray3);
}

html,
body {
  font-family: 'Montserrat', sans-serif;
}

.quiz-section {
  position: relative;
  padding: 50px 0;
}

.quiz-container {
  max-width: 1140px;
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.quiz-wrapper {
  display: block;
  position: relative;
}

.quiz.visible {
  -webkit-transition: opacity .3s ease;
  -o-transition: opacity .3s ease;
  transition: opacity .3s ease;
  opacity: 1;
  z-index: 1;
}

.quiz {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 100%;
  -webkit-transition: opacity .3s ease;
  -o-transition: opacity .3s ease;
  transition: opacity .3s ease;
  opacity: 0;
  z-index: 0;
}

.none {
  display: none !important;
}

/* Quiz 1 */
/* Header quiz */
.quiz-header {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-column-gap: 70px;
     -moz-column-gap: 70px;
          column-gap: 70px;
  background-color: var(--quiz-header-bg);
  -webkit-border-radius: 20px 20px 0 0;
          border-radius: 20px 20px 0 0;
  padding: 25px 85px;
}

@media (max-width: 1115px) {
  .quiz-header {
    padding: 25px 65px;
  }
}

@media (max-width: 1075px) {
  .quiz-header {
    padding: 25px 55px;
  }
}

@media (max-width: 775px) {
  .quiz-header {
    padding: 20px 30px;
    -webkit-column-gap: 25px;
       -moz-column-gap: 25px;
            column-gap: 25px;
  }
}

@media (max-width: 705px) {
  .quiz-header {
    padding: 15px 20px;
  }
}

@media (max-width: 500px) {
  .quiz-header {
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    row-gap: 12px;
    padding: 10px 15px;
  }
}

.quiz-header__title {
  font-family: 'Montserrat';
  font-weight: 500;
  font-size: 20px;
  line-height: 1.3;
  color: var(--header-title-color);
}

@media (max-width: 830px) {
  .quiz-header__title {
    font-size: 18px;
  }
}

@media (max-width: 500px) {
  .quiz-header__title {
    font-size: 16px;
    text-align: center;
  }
}

.quiz-header__step {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  max-width: 90px;
  height: 90px;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  background-color: var(--quiz-main-bg);
  font-family: 'Montserrat';
}

@media (max-width: 705px) {
  .quiz-header__step {
    max-width: 80px;
    height: 80px;
  }
}

@media (max-width: 500px) {
  .quiz-header__step {
    max-width: 64px;
    height: 64px;
  }
}

.step-number {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 6px;
     -moz-column-gap: 6px;
          column-gap: 6px;
  margin-bottom: -2px;
}

@media (max-width: 500px) {
  .step-number {
    -webkit-column-gap: 4px;
       -moz-column-gap: 4px;
            column-gap: 4px;
    margin-bottom: -4px;
  }
}

.step-number__first {
  font-weight: 500;
  font-size: 36px;
  color: var(--number-first-color);
}

@media (max-width: 705px) {
  .step-number__first {
    font-size: 30px;
  }
}

@media (max-width: 500px) {
  .step-number__first {
    font-size: 22px;
  }
}

.step-number__second {
  font-size: 32px;
  font-weight: 400;
  color: var(--number-second-color);
}

@media (max-width: 705px) {
  .step-number__second {
    font-size: 26px;
  }
}

@media (max-width: 500px) {
  .step-number__second {
    font-size: 20px;
  }
}

.step-text {
  color: var(--white-color);
  font-weight: 500;
  font-size: 16px;
}

@media (max-width: 500px) {
  .step-text {
    font-size: 14px;
  }
}

/* Main quiz */
.quiz-main {
  position: relative;
  font-family: 'Montserrat';
  padding: 30px 85px 58px;
  width: 100%;
  min-height: 470px;
  -webkit-border-radius: 0 0 20px 20px;
          border-radius: 0 0 20px 20px;
  background-color: var(--quiz-main-bg);
}

@media (max-width: 1115px) {
  .quiz-main {
    padding: 30px 65px 58px;
  }
}

@media (max-width: 1075px) {
  .quiz-main {
    padding: 30px 55px 58px;
    min-height: unset;
  }
}

@media (max-width: 775px) {
  .quiz-main {
    padding: 28px 30px 40px;
  }
}

@media (max-width: 580px) {
  .quiz-main {
    padding: 20px 15px 80px;
  }
}

.quiz-main__title {
  font-weight: 500;
  font-size: 20px;
  margin-bottom: 32px;
  color: var(--white-color);
}

@media (max-width: 830px) {
  .quiz-main__title {
    font-size: 18px;
  }
}

@media (max-width: 705px) {
  .quiz-main__title {
    text-align: center;
  }
}

@media (max-width: 400px) {
  .quiz-main__title {
    font-size: 16px;
    margin-bottom: 22px;
  }
}

.quiz-main-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-column-gap: 30px;
     -moz-column-gap: 30px;
          column-gap: 30px;
}

@media (max-width: 1140px) {
  .quiz-main-wrapper {
    -webkit-column-gap: 20px;
       -moz-column-gap: 20px;
            column-gap: 20px;
  }
}

@media (max-width: 1075px) {
  .quiz-main-wrapper {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-column-gap: 100px;
       -moz-column-gap: 100px;
            column-gap: 100px;
    row-gap: 55px;
  }
}

@media (max-width: 830px) {
  .quiz-main-wrapper {
    -webkit-column-gap: 30px;
       -moz-column-gap: 30px;
            column-gap: 30px;
    row-gap: 40px;
  }
}

@media (max-width: 400px) {
  .quiz-main-wrapper {
    row-gap: 35px;
  }
}

.quiz-main__item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 330px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 290px;
}

@media (max-width: 1075px) {
  .quiz-main__item {
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
}

@media (max-width: 705px) {
  .quiz-main__item {
    max-width: 380px;
    height: unset;
  }
}

.item-content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 16px;
}

@media (max-width: 400px) {
  .item-content {
    row-gap: 12px;
  }
}

.item-content__img {
  -webkit-border-radius: 8px;
          border-radius: 8px;
  background-color: var(--item-content-bg);
}

.item-content__text {
  font-weight: 400;
  font-size: 16px;
  color: var(--white-color);
}

@media (max-width: 400px) {
  .item-content__text {
    font-size: 15px;
  }
}

/* btnChoiceGroup label */
.btnChoiceGroup {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.input-radio-choice {
  width: 0;
  height: 0;
  opacity: 0;
  position: absolute;
  z-index: -1;
}

.label-choice {
  display: block;
  background-color: var(--button-color);
  -webkit-border-radius: 8px;
          border-radius: 8px;
  font-family: 'Montserrat';
  font-weight: 500;
  font-size: 20px;
  padding: 12px 38px;
  text-align: center;
  color: var(--white-color);
  cursor: pointer;
  -webkit-transition: background-color 0.2s ease-in;
  -o-transition: background-color 0.2s ease-in;
  transition: background-color 0.2s ease-in;
}

@media (max-width: 705px) {
  .label-choice {
    margin-top: 20px;
    font-size: 18px;
  }
}

@media (max-width: 400px) {
  .label-choice {
    padding: 10px 28px;
  }
}

.label-choice:hover,
.label-choice:active,
.label-choice:focus {
  background-color: var(--button-color-hover);
}

.input-radio-choice:checked ~ .label-choice {
  background-color: var(--button-color-hover);
}

/* / btnChoiceGroup label */
.next {
  right: 18px;
}

@media (max-width: 1115px) {
  .next {
    right: 12px;
  }
}

@media (max-width: 1075px) {
  .next {
    right: 2%;
  }
}

.next,
.previous {
  position: absolute;
  top: 40%;
  display: inline-block;
  width: 48px;
  height: 48px;
  background-color: var(--button-color);
  -webkit-border-radius: 8px;
          border-radius: 8px;
  -webkit-transition: background-color 0.2s ease-in;
  -o-transition: background-color 0.2s ease-in;
  transition: background-color 0.2s ease-in;
}

@media (max-width: 1115px) {
  .next,
  .previous {
    width: 40px;
    height: 40px;
  }
}

@media (max-width: 1075px) {
  .next,
  .previous {
    top: unset;
    bottom: 2%;
  }
}

.next:hover,
.next:focus,
.previous:hover,
.previous:focus {
  background-color: var(--button-color-hover);
}

/* Quiz 2a, b */
.quiz-header__title_top {
  margin-top: 15px;
}

@media (max-width: 400px) {
  .quiz-header__title_top {
    margin-top: 6px;
  }
}

.quiz-main-wrapper_top {
  padding-top: 20px;
}

.previous {
  left: 18px;
}

@media (max-width: 1115px) {
  .previous {
    left: 12px;
  }
}

@media (max-width: 1075px) {
  .previous {
    left: 2%;
  }
}

/* Quiz 2c, 2ab */
.quiz-main-wrapper_justify {
  -webkit-box-pack: space-evenly;
  -webkit-justify-content: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

/* Quiz 3a */
.main-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
  -webkit-justify-content: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-column-gap: 30px;
     -moz-column-gap: 30px;
          column-gap: 30px;
  padding-top: 20px;
}

@media (max-width: 990px) {
  .main-wrapper {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (max-width: 580px) {
  .main-wrapper {
    row-gap: 32px;
  }
}

.main-item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 330px;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 580px) {
  .main-item {
    height: unset;
  }
}

@media (max-width: 580px) {
  .main-item_order {
    -webkit-box-ordinal-group: 2;
    -webkit-order: 1;
        -ms-flex-order: 1;
            order: 1;
  }
}

.item-list-budget {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
  max-width: 390px;
  row-gap: 46px;
}

@media (max-width: 890px) {
  .item-list-budget {
    row-gap: 30px;
  }
}

@media (max-width: 800px) {
  .item-list-budget {
    max-width: 210px;
    row-gap: 24px;
  }
}

.budget-row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  -webkit-column-gap: 20px;
     -moz-column-gap: 20px;
          column-gap: 20px;
}

@media (max-width: 890px) {
  .budget-row {
    -webkit-column-gap: 10px;
       -moz-column-gap: 10px;
            column-gap: 10px;
  }
}

@media (max-width: 800px) {
  .budget-row {
    row-gap: 10px;
  }
}

@media (max-width: 705px) {
  .budget-row {
    row-gap: 0;
  }
}

@media (max-width: 580px) {
  .budget-row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.budget-row__text {
  position: relative;
  font-family: 'Montserrat';
  font-weight: 500;
  font-size: 18px;
  color: var(--white-color);
}

@media (max-width: 990px) {
  .budget-row__text {
    font-size: 16px;
  }
}

.budget-row__text::before {
  content: '';
  position: absolute;
  top: 6px;
  left: -18px;
  width: 10px;
  height: 10px;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  background-color: var(--white-color);
}

.budget-row__btn {
  font-size: 18px;
  padding: 10px 25px;
}

@media (max-width: 990px) {
  .budget-row__btn {
    font-size: 16px;
  }
}

@media (max-width: 890px) {
  .budget-row__btn {
    padding: 8px 20px;
  }
}

@media (max-width: 705px) {
  .budget-row__btn {
    margin-top: 10px;
  }
}

@media (max-width: 580px) {
  .budget-row__btn {
    width: 100%;
  }
}

@media (max-width: 400px) {
  .budget-row__btn {
    padding: 8px 20px;
  }
}

.main-item__img {
  max-width: 290px;
  background-color: var(--item-content-bg);
  -webkit-border-radius: 8px;
          border-radius: 8px;
}

@media (max-width: 890px) {
  .main-item__img {
    max-width: 240px;
  }
}

@media (max-width: 580px) {
  .main-item__img {
    max-width: 290px;
  }
}

@media (max-width: 400px) {
  .main-item__img {
    max-width: 100%;
  }
}

/* Quiz 4 */
@media (max-width: 850px) {
  .main-wrapper_row {
    row-gap: 20px;
  }
}

/* 1-й item-block */
.item-block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 340px;
  height: 360px;
  width: 100%;
  font-family: 'Montserrat', sans-serif;
  background-color: var(--background-gray);
  -webkit-border-radius: 8px;
          border-radius: 8px;
  padding: 16px 24px 24px;
}

@media (max-width: 850px) {
  .item-block {
    max-width: 420px;
  }
}

@media (max-width: 360px) {
  .item-block {
    height: 340px;
    padding: 10px 15px 15px;
  }
}

.formQuiz {
  color: #fff;
}

.fieldset {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 14px;
}

.fieldset__item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 6px;
}

.form__label {
  font-weight: 500;
  font-size: 16px;
}

@media (max-width: 360px) {
  .form__label {
    font-size: 14px;
  }
}

.form__label:last-child {
  font-weight: 400;
  font-size: 10px;
}

.form__text {
  background-color: var(--background-dark);
  width: 100%;
  -webkit-border-radius: 8px;
          border-radius: 8px;
  padding: 10px 18px;
  font-weight: 400;
  font-size: 14px;
  color: var(--field-color);
}

.form__text::-webkit-input-placeholder {
  font-weight: 400;
  font-size: 14px;
  color: var(--field-color);
}

.form__text:-ms-input-placeholder {
  font-weight: 400;
  font-size: 14px;
  color: var(--field-color);
}

.form__text::-ms-input-placeholder {
  font-weight: 400;
  font-size: 14px;
  color: var(--field-color);
}

.form__text::placeholder {
  font-weight: 400;
  font-size: 14px;
  color: var(--field-color);
}

.formQuiz__button:hover,
.formQuiz__button:active,
.formQuiz__button:focus {
  background-color: var(--button-color-hover);
}

.formQuiz__button {
  display: block;
  background-color: var(--button-color);
  -webkit-border-radius: 8px;
          border-radius: 8px;
  font-family: 'Montserrat';
  font-weight: 500;
  font-size: 16px;
  padding: 12px 30px;
  margin-top: 8px;
  text-align: center;
  color: var(--white-color);
  -webkit-transition: background-color 0.2s ease-in;
  -o-transition: background-color 0.2s ease-in;
  transition: background-color 0.2s ease-in;
  cursor: pointer;
}

@media (max-width: 400px) {
  .formQuiz__button {
    padding: 10px 28px;
  }
}

@media (max-width: 360px) {
  .formQuiz__button {
    padding: 10px 30px;
    font-size: 14px;
  }
}

.form__label-checkbox {
  margin-top: -4px;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.3;
}

.form__checkbox {
  width: 0;
  height: 0;
  opacity: 0;
  position: absolute;
  z-index: -1;
}

.custom-checkbox {
  position: relative;
  display: inline-block;
  width: 12px;
  height: 12px;
  background-color: transparent;
  border: 1px solid var(--background-border);
  -webkit-border-radius: 2px;
          border-radius: 2px;
  margin-right: 3px;
  vertical-align: middle;
  cursor: pointer;
}

.custom-checkbox::before {
  content: "";
  position: absolute;
  display: inline-block;
  width: 11px;
  height: 12px;
  left: 50%;
  top: 50%;
  background-image: url("../image/icons/check.svg");
  -webkit-background-size: contain;
          background-size: contain;
  background-repeat: no-repeat;
  -webkit-transform: translate(-50%, -50%) scale(0);
      -ms-transform: translate(-50%, -50%) scale(0);
          transform: translate(-50%, -50%) scale(0);
  -webkit-transition: .2s ease-in;
  -o-transition: .2s ease-in;
  transition: .2s ease-in;
}

.real-checkbox:checked + .custom-checkbox::before {
  -webkit-transform: translate(-50%, -50%) scale(1);
      -ms-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
}

.form__link {
  text-decoration: none;
  color: var(--link-color);
}

.form__link:hover,
.form__link:focus {
  text-decoration: underline;
}

/* 2-й item-block */
.block-present {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
}

.present-header {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 2px;
}

@media (max-width: 380px) {
  .present-header {
    margin-bottom: 8px;
  }
}

.present-header__title {
  font-weight: 600;
  font-size: 16px;
  line-height: 1.3;
  color: var(--header-title-color);
}

.present-header__img {
  max-width: 73px;
  margin-left: 10px;
}

@media (max-width: 380px) {
  .present-header__img {
    max-width: 60px;
  }
}

@media (max-width: 360px) {
  .present-header__img {
    max-width: 45px;
  }
}

@media (max-width: 340px) {
  .present-header__img {
    display: none;
  }
}

.present-main {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  color: var(--white-color);
}

.present-main__title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.3;
  margin-bottom: 6px;
}

@media (max-width: 360px) {
  .present-main__title {
    font-size: 15px;
  }
}

.present-main__text {
  font-weight: 300;
  font-size: 15px;
  line-height: 1.3;
}

@media (max-width: 360px) {
  .present-main__text {
    font-size: 14px;
  }
}

.present-footer {
  color: var(--white-color);
}

.present-footer__text {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.2;
}

.present-footer__link {
  text-decoration: none;
  color: var(--link-color);
}

.present-footer__link:hover,
.present-footer__link:focus {
  text-decoration: underline;
}

/* Quiz popup message */
.popup-quiz {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
  overflow-y: auto;
  overflow-x: hidden;
  -webkit-transition: all .8s ease 0s;
  -o-transition: all .8s ease 0s;
  transition: all .8s ease 0s;
  z-index: 99;
}

.popup-quiz.open {
  opacity: 1;
  visibility: visible;
}

.popup-quiz-wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 30px 15px;
}

.quiz-message {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  font-family: 'Montserrat';
  text-align: center;
  background-color: #454545;
  -webkit-border-radius: 8px;
          border-radius: 8px;
  -webkit-box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
          box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
  padding: 50px 35px 60px;
  overflow: hidden;
  z-index: 99;
}

@media (max-width: 600px) {
  .quiz-message {
    padding: 35px 15px 35px;
  }
}

.message-close {
  display: block;
  position: absolute;
  right: 15px;
  top: 20px;
  width: 20px;
  height: 20px;
  opacity: .5;
  -webkit-transition: opacity .2s ease 0s;
  -o-transition: opacity .2s ease 0s;
  transition: opacity .2s ease 0s;
  cursor: pointer;
}

@media (max-width: 600px) {
  .message-close {
    right: 10px;
    top: 10px;
    width: 15px;
    height: 15px;
  }
}

.message-close::after,
.message-close::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  left: 0;
  background-color: var(--white-color);
}

.message-close::after {
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
  top: 9px;
}

.message-close::before {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
  top: 9px;
}

.message-close:hover {
  opacity: 1;
}

.quiz-message__content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-width: 340px;
  width: 100%;
}

@media (max-width: 600px) {
  .quiz-message__content {
    max-width: 300px;
  }
}

.quiz-message__title {
  font-weight: 500;
  font-size: 22px;
  color: var(--header-title-color);
  margin-bottom: 20px;
}

@media (max-width: 600px) {
  .quiz-message__title {
    font-size: 18px;
  }
}

.quiz-message__text {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.3;
  color: var(--white-color);
}

@media (max-width: 600px) {
  .quiz-message__text {
    font-size: 16px;
  }
}

.quiz-message__img {
  margin-top: 20px;
  margin-bottom: -26px;
  display: block;
}

@media (max-width: 600px) {
  .quiz-message__img {
    margin-top: 15px;
    margin-bottom: -15px;
  }
}

/* / Quiz popup message */
/* Popup warning */
.popupWarn {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
  overflow-y: auto;
  overflow-x: hidden;
  -webkit-transition: all 0.8s ease 0s;
  -o-transition: all 0.8s ease 0s;
  transition: all 0.8s ease 0s;
  z-index: 99;
}

.popupWarn.open {
  opacity: 1;
  visibility: visible;
}

.warn {
  position: absolute;
  right: 1%;
  top: 10%;
  background-color: var(--background-dark);
  max-width: 240px;
  width: 100%;
  -webkit-border-radius: 25px;
          border-radius: 25px;
  border: 2px solid var(--button-color);
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  padding: 15px;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 16px;
  -webkit-transition: opacity 0.8s ease, visibility 0.8s ease, -webkit-transform 0.8s ease;
  transition: opacity 0.8s ease, visibility 0.8s ease, -webkit-transform 0.8s ease;
  -o-transition: transform 0.8s ease, opacity 0.8s ease, visibility 0.8s ease;
  transition: transform 0.8s ease, opacity 0.8s ease, visibility 0.8s ease;
  transition: transform 0.8s ease, opacity 0.8s ease, visibility 0.8s ease, -webkit-transform 0.8s ease;
  -webkit-transform: translateX(200%);
      -ms-transform: translateX(200%);
          transform: translateX(200%);
  opacity: 0;
  visibility: hidden;
  z-index: 9;
}

@media (max-width: 991px) {
  .warn {
    font-size: 14px;
    padding: 10px;
    top: 1%;
    max-width: 200px;
  }
}

@media (max-width: 400px) {
  .warn {
    font-size: 12px;
    padding: 8px;
    max-width: 180px;
  }
}

.warn.option {
  opacity: 1;
  visibility: visible;
  -webkit-transform: translateX(0);
      -ms-transform: translateX(0);
          transform: translateX(0);
  -webkit-transition: opacity 0.8s ease, visibility 0.8s ease, -webkit-transform 0.8s ease;
  transition: opacity 0.8s ease, visibility 0.8s ease, -webkit-transform 0.8s ease;
  -o-transition: transform 0.8s ease, opacity 0.8s ease, visibility 0.8s ease;
  transition: transform 0.8s ease, opacity 0.8s ease, visibility 0.8s ease;
  transition: transform 0.8s ease, opacity 0.8s ease, visibility 0.8s ease, -webkit-transform 0.8s ease;
}

.warn.success {
  border: 2px solid #3175C2;
  opacity: 1;
  visibility: visible;
  -webkit-transform: translateX(0);
      -ms-transform: translateX(0);
          transform: translateX(0);
  -webkit-transition: opacity 0.8s ease, visibility 0.8s ease, -webkit-transform 0.8s ease;
  transition: opacity 0.8s ease, visibility 0.8s ease, -webkit-transform 0.8s ease;
  -o-transition: transform 0.8s ease, opacity 0.8s ease, visibility 0.8s ease;
  transition: transform 0.8s ease, opacity 0.8s ease, visibility 0.8s ease;
  transition: transform 0.8s ease, opacity 0.8s ease, visibility 0.8s ease, -webkit-transform 0.8s ease;
}

.warn.wrong {
  border: 2px solid #ff0000;
  opacity: 1;
  visibility: visible;
  -webkit-transform: translateX(0);
      -ms-transform: translateX(0);
          transform: translateX(0);
  -webkit-transition: opacity 0.8s ease, visibility 0.8s ease, -webkit-transform 0.8s ease;
  transition: opacity 0.8s ease, visibility 0.8s ease, -webkit-transform 0.8s ease;
  -o-transition: transform 0.8s ease, opacity 0.8s ease, visibility 0.8s ease;
  transition: transform 0.8s ease, opacity 0.8s ease, visibility 0.8s ease;
  transition: transform 0.8s ease, opacity 0.8s ease, visibility 0.8s ease, -webkit-transform 0.8s ease;
}

.warn.field {
  border: 2px solid #f27a10;
  opacity: 1;
  visibility: visible;
  -webkit-transform: translateX(0);
      -ms-transform: translateX(0);
          transform: translateX(0);
  -webkit-transition: opacity 0.8s ease, visibility 0.8s ease, -webkit-transform 0.8s ease;
  transition: opacity 0.8s ease, visibility 0.8s ease, -webkit-transform 0.8s ease;
  -o-transition: transform 0.8s ease, opacity 0.8s ease, visibility 0.8s ease;
  transition: transform 0.8s ease, opacity 0.8s ease, visibility 0.8s ease;
  transition: transform 0.8s ease, opacity 0.8s ease, visibility 0.8s ease, -webkit-transform 0.8s ease;
}

.warn__text {
  color: var(--white-color);
  text-align: center;
}

/* / Popup warning */
